
 <div class="row">
<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
     <h2>Select Topics <small>You Find Interesting</small></h2>
			<hr class="colorgraph">
 <%= form_for @user, url: wizard_path do |f| %>


   <ul>
        <li><%= check_box_tag 'user[interest][]', 'Politics', checked('Politics'), id: 'interest_politics' %>
            <label for="interest_politics"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Politics</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Education', checked('Education'), id: 'interest_education' %>
            <label for="interest_education"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Education</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Sports', checked('Sports') ,id: 'interest_sports' %>
            <label for="interest_sports"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Sports</center>
        </li>
        <li><%= check_box_tag 'user[interest][]', 'Fashion', checked('Fashion') ,id: 'interest_fashion' %>
            <label for="interest_fashion"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Fashion</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Music', checked('Music'), id: 'interest_music' %>
            <label for="interest_music"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Music</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Technology', checked('Technology'), id: 'interest_technology' %>
            <label for="interest_technology"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Technology</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Family', checked('Family'), id: 'interest_family' %>
            <label for="interest_family"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Family</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Health', checked('Health'), id: 'interest_health' %>
            <label for="interest_health"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Health</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Religion', checked('Religion'), id: 'interest_religion' %>
            <label for="interest_religion"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Religion</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Government', checked('Government'), id: 'interest_government' %>
            <label for="interest_government"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Government</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Entrepreneurs', checked('Entrepreneurs'), id: 'interest_entrepreneurs' %>
            <label for="interest_entrepreneurs"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Entrepreneurs</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Celebrity', checked('Celebrity'), id: 'interest_celebrity' %>
            <label for="interest_celebrity"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Celebrity</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Travel', checked('Travel'), id: 'interest_travel' %>
            <label for="interest_travel"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Travel</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Gadgets', checked('Gadgets'), id: 'interest_gadgets' %>
            <label for="interest_gadgets"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Gadgets</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'News', checked('News'), id: 'interest_news' %>
            <label for="interest_news"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>News</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Food', checked('Food'), id: 'interest_food' %>
            <label for="interest_food"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Food</center>
        </li>
    
    </ul>
  	<hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6"><%= f.submit "Continue", class: "btn btn-primary btn-block btn-lg", tabindex: "7" %></div>
				<div class="col-xs-12 col-md-6"><%= link_to "skip this step", next_wizard_path , class: "btn btn-success btn-block btn-lg" %></div>
			</div>
  		<% end %>
</div>