
 <div class="row">
<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
     <h2>Select Topics <small>You Find Interesting</small></h2>
			<hr class="colorgraph">
 <%= form_for @user, url: wizard_path do |f| %>
 <div class="col-md-8 col-md-offset-2">
 <div class="field">
    <%= f.label :hub_type %><br />
    <%= f.select(:hub_type, User::HUB_LIST)%>
  </div>

   <ul>
        <li><%= check_box_tag 'user[interest][]', 'Politics', checked('Politics'), id: 'interest_politics' %>
            <label for="interest_politics"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Politics</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Education', checked('Education'), id: 'interest_education' %>
            <label for="interest_education"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Education</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Sports', checked('Sports') ,id: 'interest_sports' %>
            <label for="interest_sports"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Sports</center>
        </li>
        <li><%= check_box_tag 'user[interest][]', 'Fashion', checked('Fashion') ,id: 'interest_fashion' %>
            <label for="interest_fashion"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Fashion</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Music', checked('Music'), id: 'interest_music' %>
            <label for="interest_music"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Music</center>
        </li>
        <li> <%= check_box_tag 'user[interest][]', 'Technology', checked('Technology'), id: 'interest_technology' %>
            <label for="interest_technology"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Technology</center>
        </li>
    
    </ul>
    
 <div class="actions">
  	<%= f.submit "Continue" %>
  	or <%= link_to "skip this step", next_wizard_path %>
  	</div> 
  		<% end %>
</div>