  <div class="[ row ]">
        <h2>Select from a range of topics which interest you</h2>
    </div>
    <div class="[ col-xs-12 col-sm-6 ]">
        <h3>Standard Checkboxes</h3><hr />
        <div class="[ form-group ]">
            <input type="checkbox" name="user[interest][]" id="interest_music" value="Music"  autocomplete="off" />
            <div class="[ btn-group ]">
                <label for="interest_music" class="[ btn btn-default ]">
                    <span class="[ glyphicon glyphicon-ok ]"></span>
                    <span> </span>
                </label>
                <label for="interest_music" class="[ btn btn-default active ]">
                    Default Checkbox
                </label>
            </div>
        </div>
    
    
 <div class="row">
<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
 <h2>Hi, Set Up Your Account<small> It takes less than a minute.</small></h2>
			<hr class="colorgraph">

 <%= form_for @user, url: wizard_path do |f| %>
 <div class="col-md-8 col-md-offset-2">
 <div class="field">
    <%= f.label :hub_type %><br />
    <%= f.select(:hub_type, User::HUB_LIST)%>
  </div>
<div class="field">
    <%= f.label :cover_img %><br />
    <%= f.text_field :cover_img, class: "form-control"%>
  </div>
   <ul>
        <li><%= check_box_tag 'user[interest][]', 'Politics', checked('Politics'), id: 'interest_politics' %>
            <label for="interest_politics"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
            <center>Politics</center>
        </li>
    <li><input type="checkbox" id="cb2" />
        <label for="cb2"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
    </li>
    <li><input type="checkbox" id="cb3" />
        <label for="cb3"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
    </li>
    <li><input type="checkbox" id="cb4" />
        <label for="cb4"><img src="https://www.w3schools.com/css/img_fjords.jpg" /></label>
    </li>
    </ul>
  
  <div class="field">
    <%= f.label 'interest_music', 'Music'%>
    <%= check_box_tag 'user[interest][]', 'Music', checked('Music'), id: 'interest_music' %>
    
    
    <%= f.label 'interest_fashion', 'Fashion'%>
    <%= check_box_tag 'user[interest][]', 'Fashion', checked('Fashion') ,id: 'interest_fashion' %>
    
    <%= f.label 'interest_sports', 'Sports'%>
    <%= check_box_tag 'user[interest][]', 'Sports', checked('Sports') ,id: 'interest_sports' %>
    
    <%= f.label 'interest_education', 'Education'%>
    <%= check_box_tag 'user[interest][]', 'Education', checked('Education'), id: 'interest_education' %>
    
    <%= f.label 'interest_technology', 'Technology'%>
    <%= check_box_tag 'user[interest][]', 'Technology', checked('Technology'), id: 'interest_technology' %>

  </div>
 
 <div class="actions">
  	<%= f.submit "Continue" %>
  	or <%= link_to "skip this step", next_wizard_path %>
  	</div> 
  		<% end %>
</div>