 <p>STEP 1: Tell us a little about yourself</p>
<p>STEP 2: <b>Where can we find you?</b></p>

 <%= form_for @user, url: wizard_path do |f| %>
 <div class="col-md-8 col-md-offset-2"> <center>
 	<H1> Hi, <%= current_user.first_name %> Lets help setup your account </h1>
</center>
 <div class="field">
    <%= f.label :hub_type %><br />
    <%= f.select(:hub_type, User::HUB_LIST)%>
  </div>
<div class="field">
    <%= f.label :cover_img %><br />
    <%= f.text_field :cover_img, class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label 'interest_music', 'Music'%>
    <%= check_box_tag 'user[interest][]', 'Music', checked('Music'), id: 'interest_music' %>
    
    <%= f.label 'interest_politics', 'Politics'%>
    <%= check_box_tag 'user[interest][]', 'Politics', checked('Politics'), id: 'interest_politics' %>

    <%= f.label 'interest_fashion', 'Fashion'%>
    <%= check_box_tag 'user[interest][]', 'Fashion', checked('Fashion') ,id: 'interest_fashion' %>
    
    <%= f.label 'interest_sports', 'Sports'%>
    <%= check_box_tag 'user[interest][]', 'Sports', checked('Sports') ,id: 'interest_sports' %>
    
    <%= f.label 'interest_education', 'Education'%>
    <%= check_box_tag 'user[interest][]', 'Education', checked('Education'), id: 'interest_education' %>
    
    <%= f.label 'interest_technology', 'Technology'%>
    <%= check_box_tag 'user[interest][]', 'Technology', checked('Technology'), id: 'interest_technology' %>

  </div>
 
 <div class="actions">
  	<%= f.submit "Continue" %>
  	or <%= link_to "skip this step", next_wizard_path %>
  	</div> 
  		<% end %>
</div>