<div class="row">
<div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
 <h2>Hi, Set Up Your Account<small> It takes less than a minute.</small></h2>
			<hr class="colorgraph">
<%= form_for @user,url: wizard_path, :html => {:multipart => true} do |f| %>
	<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-6">
					<div class="form-group">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name,  class: "form-control input-lg", placeholder: "First Name", tabindex:"1" %></div>
  </div>
  <div class="form_group">
  	<div class="col-xs-12 col-sm-6 col-md-6">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name,  class: "form-control input-lg", placeholder: "Last Name", tabindex:"1"%>
    </div>
  </div>
  </div>
  <div class="form_group">
    <label for="gender">Phone Number:</label>
    <%= f.text_field :phone_no, class: "form-control input-lg", placeholder: "Mobile Number", tabindex:"1"%>
  </div>
<div class="form-row text-center input-md">
<label for="gender">Gender:</label>
<%= radio_button :user, :gender, "Male" %> Male
<%= radio_button :user, :gender, "Female" %> Female
</div>

  <div class="form_group">
    <%= f.label :about %><br />
    <%= f.text_area :about, rows: 4, maxlength: 150, placeholder: "Tell Us About Your Awesome Self",class: "form-control input-lg"%>
    <h6 class="pull-right" id="textarea_feedback"></h6>
  </div>
  </div>
  
  
  
  <div class="form_group">
  	 <label for="avatar">Profile Picture</label>
  	<br />
  	<div class="fileupload fileupload-new" data-provides="fileupload">
    <span class="btn btn-primary btn-file"><span class="fileupload-new">Select file</span>
    <span class="fileupload-exists">Change</span>        <%= f.file_field :avatar %></span>
    <span class="fileupload-preview"></span>
    <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
  </div>
  </div>
 <div class="form_group">
    <%= f.label :birthday %> 
    <%= f.date_select :birthday,start_year: 1900, end_year: Date.today.year,  class: "form-control input-lg"%>
  </div>
  <hr class="colorgraph">
			<div class="row">
				<div class="col-xs-12 col-md-6"><%= f.submit "Continue", class: "btn btn-primary btn-block btn-lg", tabindex: "7" %></div>
				<div class="col-xs-12 col-md-6"><%= link_to "skip this step", next_wizard_path , class: "btn btn-success btn-block btn-lg" %></div>
			</div>
		</form>
  </div>
  
  		<% end %>
  	</div></div></div>