<div class="col-md-6 col-md-offset-3">
<center><h2>New Conversation</h2></center>
<%= form_tag conversations_path, method: :post do %>
	<div>
		<%= select_tag :user_id, options_from_collection_for_select(@recepients, :id, :name), prompt: "Choose a recepient", class: "form-control" %>
	</div>
	<div>
		<%= text_field_tag :subject, nil, placeholder: "Subject" , class: "form-control"%>
	</div>
	<div>
		<%= text_area_tag :body, nil, placeholder: "Send a memo" , class: "form-control"%>
	</div>

	<%= submit_tag %>
<% end %>
</div>
