<div class="col-md-6 col-md-offset-3">
<center><h2>New Conversation</h2></center>
<hr class="colorgraph">
<%= form_tag conversations_path, method: :post do %>
	<div>
		<%= select_tag :user_id, options_from_collection_for_select(@recepients, :id, :name), prompt: "Choose a recepient", class: "form-control input-lg" %>
	</div>
	<div>
		<%= text_field_tag :subject, nil, placeholder: "Message Title" , class: "form-control input-lg"%>
	</div>
	<div class="form_group">
		<%= text_area_tag :body, nil,  rows: 4, placeholder: "Send Message",class: "form-control input-lg"%>
	</div>

	<div class="col-xs-12 col-md-6"><%= submit_tag "Send", class: "btn btn-primary btn-block btn-lg", tabindex: "7" %></div>
	<p>
		</div>
		<div class="row">
	<hr class="colorgraph">
	</div>
<% end %>


