<div class="row">
    <div class="col-md-4">
        <div class="panel panel-success">
             <div class="panel-heading">Latest Updates
             <div class="pull-right">
                 <span class="glyphicon glyphicon-time"></span>
                 </div>
             </div>
            <div class="panel-body">
                <% for @p in @updates %>
		<div class="panel panel-default post-panel">
  			<div class="panel-body row">
  				<div class="col-sm-2">
  					 	<%= image_tag User.find(@p.user_id).avatar.url(:thumb), :class => 'img-circle' if  User.find(@p.user_id).avatar? %>
  				</div>
  				<div class="col-sm-10">
  					<p class ="post-title"> <span class = "post-user"><a href="/user/<%= User.find(@p.user_id).username %>"><%= User.find(@p.user_id).username %> </a> </span>- <span class="post-creation"><%= @p.created_at.to_formatted_s(:short) %></span></p>
                      <div class="col-sm-offset-2"> <%= image_tag @p.image.url(:medium) if @p.image? %> 
                          <p class ="post-content"><%= link_to @p.content, update_path(@p) %></p>
                      </div>
                      <div class="row">
  				    <div class="progress">
  <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
  aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:60%">
    60% Love this
  </div>
</div>
  				</div>
                      
  				</div>
  				
				
			</div></div>
		
		<% end %>
            </div>
             <div class="panel-footer"><div class="btn btn-success btn-xs">View More</div></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-danger">
             <div class="panel-heading">Hottest Topics
             <div class="pull-right">
                 <span class="glyphicon glyphicon-fire"></span>
                 </div>
            </div>
            <div class="panel-body">
                Basic panel example
            </div>
             <div class="panel-footer"><div class="btn btn-danger btn-xs">View More</div></div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
             <div class="panel-heading">Your Profile
              <div class="pull-right">
                 <span class="glyphicon glyphicon-user"></span>
                 </div>
             </div>
            <div class="panel-body">
                Basic panel example
            </div>
             <div class="panel-footer"><div class="btn btn-primary btn-xs">Connect With others</div></div>
        </div>
    </div>
</div>
<div class = "row">
	<div class="col-md-3">
		<div class="panel panel-default">
  			<div class="panel-image hide-panel-body">
  				<img src="/banner.jpg" class="panel-image-preview">
  			</div>
  			<div class= "panel-footer text-center">
  				<div class="row">
  						<div class="col-sm-2">	<%= image_tag current_user.avatar.url(:thumb), :class => 'img-circle' if  current_user.avatar? %></div>
  					<div class="col-sm-10"><h4 style="text-align: center;"><%= current_user.username %></h4></div>
  					<div class="col-sm-12" style="margin-top:10px;">
  						<div class="col-xs-4">
  								<h4 style="font-size:200%; opacity:0.7; font-weight:bold;"> <%= current_user.updates.count %></h4>
							<h4 style="color:black; font-size:80%;">Activities</h4>
  						</div>
  							<div class="col-xs-4">
  								<h4 style="font-size:200%; opacity:0.7; font-weight:bold;"> <%= link_to current_user.followers.count, networks_user_path(current_user.id) %></h4>
							<h4 style="color:black; font-size:80%;">Networks</h4>
  						</div>
              <div class="col-xs-4">
                  <h4 style="font-size:200%; opacity:0.7; font-weight:bold;"> <%= link_to current_user.following.count, connects_user_path(current_user.id) %></h4>
              <h4 style="color:black; font-size:80%;">Connects</h4>
              </div>
  					</div>
  				</div>
  			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-body">
				<p><%= link_to('Message Board', messages_path) %></p>
        <% for @m in @messages do %>
        <p><%= link_to (truncate @m.title,length:30),message_path(@m), :class => 'btn btn-default' %> </p>
        <% end %>
			</div>
		</div>
	</div>
<div id="updates">
	<%= render "components/update_feed" %> 
   <%= will_paginate @updates %>
</div>
 

		
	</div>
	
	<div class="col-md-3">
		<div class="panel panel-default">
  			<div class="panel-body">
  			    <% @arr1 = current_user.interest.split(",") %>
<% if User.last.interest %>
          <% @arr1 = current_user.interest.split(",") %>
          <% @arr2 = User.last.interest.split(",")%>
				<p> <% @intersection = @arr1 & @arr2 %>
          <% if !@intersection.blank? %>
            You share <b><%= @intersection.size %></b> interests with <a href="/user/<%= User.last.username %>"><%= User.last.username %> </a>. which are <%= @intersection * "," %>
            <% else %>
            
          <% end %>
      <% else %>
            
          <% end %>
          <P>
            <H3>Suggested Hubs</H3><p>
          <% @a = User.order('RANDOM()').limit(5) %>
          <% @a.each do |someone| %>
             <% if someone.interest.present? %>
                <% @arr = someone.interest.split(",") %>
                <% @intersection1 = @arr1 & @arr %>
                  <% if !@intersection1.blank? %>
                   <a href="/user/<%= someone.username %>"><%= someone.username %> </a>(<b><%= @intersection1.size %></b> interests shared).<br>
                    <% else %>
                    
                  <% end %>
            <% else %>

            <% end %>

          <% end %>
        </p>
			</div>
		</div>
			<div class="panel panel-default">
        <div class="panel-heading">Interest Groups</div>
  			<div class="panel-body">
  	
          <% @a = @arr1 %>
         <% @a.each do |item| %>
         <p>
           <%= link_to item ,interestgroups_path(interest: item), :class => 'btn btn-danger btn-block'%>
          <% end %>
         
  			</div>
        </div>
        <div class="panel-body">
          <p>atop activities</p>
        </div>
       <div class="panel panel-default">
        <div class="panel-footer">Sponsored ads</div>
    <div class="panel-body"><b> Ads </b> </div>
<div class="panel-footer"></div>
  		</div>
	</div>
