<div class ="row">
	<div class ="col-xs-12">
				<div class="jumbotron">
			<p> <%= @username %> </P>
				<div class="col-sm-4">
  								<h4 style="font-size:200%; opacity:0.7; font-weight:bold;"> <%= link_to @user1.followers.count, networks_user_path(@user1.id) %></h4>
							<h4 style="color:black; font-size:80%;">Networks</h4>
  						</div>
              <div class="col-sm-4">
                  <h4 style="font-size:200%; opacity:0.7; font-weight:bold;"> <%= link_to @user1.following.count, connects_user_path(@user1.id) %></h4>
              <h4 style="color:black; font-size:80%;">Connects</h4>
              </div>
	</div>
	
</div></div>

<div class = "row">
	<div class="col-xs-3">
		<%= render '/components/network_button', :user => User.find_by_username(params[:id]) %>
		
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>stats/options</p>
			</div>
		</div>
		<div class="panel panel-default">
  			<div class="panel-body">
				<p>communities/ menus</p>
			</div>
		</div>
	</div>
	<%= render "components/update_feed" %> 
	</div>
	
	<div class="col-xs-3">
		<div class="panel panel-default">
  			<div class="panel-body">
  				<div class="info-bar">
				<h4>Basic information</h4> <%if current_user.id == @user1.id %><span class="edit_link"><%= link_to "Edit", edit_user_registration_path %></span>
<% else %>
<% end %></div>
<b>Full Name:</b> <%= @user1.first_name %> <br>
<b>Username:</b> <%= @user1.username %><br>
<b>Email:</b> <%= @user1.email %>

</p>
			</div>
		</div>
			<div class="panel panel-default">
  			<div class="panel-body">
<% @arr2 = @user1.interest.split(",") %>
  					<p><h3>Interest Groups</h3></p>
          <% @a = @arr2
          %>
         <% @a.each do |item| %>
         <p>
           <%= link_to item ,interestgroups_path(interest: item), :class => 'btn btn-danger btn-block'%>
          <% end %></p>
  			</div>
  		</div>
	</div>
