<% if @community and not @community.empty? %>
<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Username</th>
      <th>Full Name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Interests</th>
      
      <th>Connect/Leave</th>

    </tr>
  </thead>
  <tbody>
  	<% @count = 1 %>
<% @community.each do |user| %>

    <tr>
      <th scope="row"><%= @count %></th>

      <td><a href="/user/<%= user.username %>"><%= user.username %></td>
      <td><%= user.last_name %> <%= user.first_name %></td>
      <td>Gender</td>
      <td>Age</td>
      <td><%= truncate user.interest, length: 40 %></td>
      <td>
        <% if current_user.id != user.id %>
            <% if !current_user.following?(user) %>
        <%= form_for(current_user.active_relationships.build) do |f| %>
        <div> <%= hidden_field_tag :followed_id, user.id %> </div>
        <%= f.submit "Connect", class: "btn btn-primary"%> 
         <% end %>
            <% else %>
          <%= form_for(current_user.active_relationships.find_by(followed_id: user.id),
          html: {method: :delete}) do |f| %>
          <%= f.submit "Leave", class: "btn"%>
              <% end %>
              <% end %>
            </center>
            </div>
          </div>
      <% end %>
      </td>
    </tr>
    <% @count =@count + 1 %>
<% end %>
<% end %>
<%= will_paginate @community %>