<a name="top"> </a>
<nav class="navbar navbar-default">
  <div class="container-fluid container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
 <img class="navbar-brand" src="/Rectangler.jpg">
     <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home">Home <span class="sr-only">(current)</span></a></li>
        <li><%= link_to "Conversations",conversations_path %></a></li>
        <li><a href="/community">Community</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">

  
       <%= form_tag community_path, :method => 'get', class: 'navbar-form navbar-left' do %>
       <div class="form-group"> 
         <%= text_field_tag :search, params[:search], class: 'form-control' %>
         <%= submit_tag "Search", class: 'btn btn-default' %>
       <% end %> 
       <!--    <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form> -->
    </div>
      <li class="nav-item btn-group" data-behavior = "notifications">
        <a class="dropdown-toggle nav-link" type="button" data-behavior="notifications-link" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true">
           <span class="glyphicon glyphicon-bell"></span><span data-behavior="unread-count"></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1" data-behavior="notification-items">
          <!-- <a class="dropdown-item" href="#">Acion</a> -->
        </div>
      </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.username %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/user/<%= current_user.username %>">Hub</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to('Groups', groups_path) %></a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Help</a></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to('Edit Hub', edit_user_registration_path) %></li>
            <li><%= link_to('Account Settings', user_steps_path) %></li>
            <li><%= link_to('Log Out', destroy_user_session_path, :method => :delete) %></li>

          </ul>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>