<!DOCTYPE html>
<html>
  <head>
    <title> <%= @title %> | Reho</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application','data-turbolinks-track': 'reload' %>
    <style type="text/css">
    
    </style>
  </head>

  <body>
    <% if notice %>
    <div id="notice_wrapper">
<p class="notice"><%= notice %></p>
    </div>
    <% elsif alert %>
<div id="notice_wrapper">
<p class="alert"><%= alert %></p>
    </div>
<% end %>
  	<%= render '/layouts/nav' %>

  	<div class="container">
  		
  <%= yield %>
</div>
    
  </body>
</html>
